<div>
  <br>
  <br>
  <h1>Alta cliente</h1>
  <br>
  <br>
  <form [formGroup]="clienteForm">
    <table>
      <tr>
        <td> <label for="nombre">Nombre: &nbsp;&nbsp;&nbsp;&nbsp;</label></td>
        <td><input type="text" name="nombre" id="" formControlName="nombre"> </td>

      </tr>
      <br>
      <tr>
        <td><label for="cif">CIF:</label></td>
        <td><input type="text" name="cif" formControlName="cif"></td>
      </tr>
      <br>
      <tr>
        <td><label for="direccion">Dirección:</label></td>
        <td><input type="text" name="direccion" formControlName="direccion"></td>
      </tr>
      <br>

      <tr>
        <td><label for="grupo" >Grupo:</label></td>
        <td>
          <select class="form-select" id="inputGroupSelect01" formControlName="grupo">
            <option selected>Sin definir</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </td>
      </tr>
    </table>
  </form>

  <br>

  <button class="btn btn-primary" (click)="guardarCliente()">Guardar</button>
  <br><br>
  <app-listado-clientes [lista]="lista"></app-listado-clientes>
</div>
